src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="retrieveOrders">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#['TEST']" doc:name="Set Payload"/>
    </flow>
    <flow name="processOrders">
        <set-variable variableName="orders" value="#[payload]" doc:name="Variable: Store All key contents Into Variable 'orders'"/>
        <set-payload value="#[{'international': java.util.Map&lt;&gt;[], 'domestic': java.util.Map&lt;&gt;[]}]" doc:name="Set Payload: Set Orders Schema"/>
        <dw:transform-message doc:name="Populate International Key with Worldwide orders and Domestic Key with National orders">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
    international: flowVars.orders filter $.'location' == 'worldwide',
    domestic: flowVars.orders filter $.'location' == 'national'
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
